<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite_1</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a8dba8">  <td>23/07/31 10:53:03</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DashBoardScreen.solutionButtonTest()[pri:2, instance:org.test.screens.DashBoardScreen@22635ba0]">solutionButtonTest</td> 
  <td>main@1915318863</td>   <td></td> </tr>
<tr bgcolor="a8dba8">  <td>23/07/31 10:53:03</td>   <td>-287</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DashBoardScreen.contentManagementButtonTest()[pri:1, instance:org.test.screens.DashBoardScreen@22635ba0]">contentManagementButtonTest</td> 
  <td>main@1915318863</td>   <td></td> </tr>
<tr bgcolor="8063e1">  <td>23/07/31 10:53:05</td>   <td>1913</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SolutionsTest.countTest()[pri:2, instance:org.test.screens.SolutionsTest@5a955565]">countTest</td> 
  <td>main@1915318863</td>   <td></td> </tr>
<tr bgcolor="8063e1">  <td>23/07/31 10:53:05</td>   <td>1901</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SolutionsTest.csvRead()[pri:1, instance:org.test.screens.SolutionsTest@5a955565]">csvRead</td> 
  <td>main@1915318863</td>   <td></td> </tr>
<tr bgcolor="cbb9b1">  <td>23/07/31 10:52:52</td>   <td>-11085</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DriverSetup.setUp()[pri:0, instance:org.test.drivers.DriverSetup@290d210d]">setUp</td> 
  <td>main@1915318863</td>   <td></td> </tr>
<tr bgcolor="8063e1">  <td>23/07/31 10:53:05</td>   <td>1921</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SolutionsTest.solutionNumberTest()[pri:3, instance:org.test.screens.SolutionsTest@5a955565]">solutionNumberTest</td> 
  <td>main@1915318863</td>   <td></td> </tr>
<tr bgcolor="7fc37a">  <td>23/07/31 10:52:58</td>   <td>-4884</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginScreen.loginTest()[pri:0, instance:org.test.screens.LoginScreen@1df82230]">loginTest</td> 
  <td>main@1915318863</td>   <td></td> </tr>
<tr bgcolor="a8dba8">  <td>23/07/31 10:53:01</td>   <td>-1579</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DashBoardScreen.dashBoardScreenTest()[pri:0, instance:org.test.screens.DashBoardScreen@22635ba0]">dashBoardScreenTest</td> 
  <td>main@1915318863</td>   <td></td> </tr>
<tr bgcolor="8063e1">  <td>23/07/31 10:53:04</td>   <td>1234</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SolutionsTest.newlyAddedSolutionsTableTest()[pri:0, instance:org.test.screens.SolutionsTest@5a955565]">newlyAddedSolutionsTableTest</td> 
  <td>main@1915318863</td>   <td></td> </tr>
</table>
